
        <!-- Start About -->
        <section id="about" class="section about_us section_padding back_color2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-7">
                        <div class="about_paragraph">
                            <!--<h2 class="color1"><span class="span_color">À</span> Propos</h2>-->
							<div class="ribbon">À Propos</div>
                            <p class="line_height28 font_size16 justifytexte">
								Je m'appelle Noureddine Hayari, je suis Data Engineer et développeur expérimenté avec plus de 9 ans d'expérience dans le développement et plus de 5 ans dans le domaine des données. J'ai participé activement à des projets de collecte, traitement et analyse des données, contribuant également à des sujets de recherche opérationnelle et d'optimisation. 
En tant que professionnel polyvalent, j'ai travaillé sur une variété de projets et de technologies, apportant des solutions concrètes à des problèmes complexes.
Pendant mes 9 années de développement, j'ai pris part à des missions variées, telles que la gestion des droits utilisateurs chez TOTAL, la gestion des commandes chez SFR,  la gestion des flottes chez SPEEDY, préparation des données de facturation et d'énergie pour une consultation aisée par les data scientists et autres utilisateurs chez EDF.
Mon expertise s'étend à l'architecture technique, la conception, les tests et le déploiement.
En plus de ma carrière professionnelle, mon expérience en tant que footballeur m'a enseigné des compétences inestimables en matière de travail d'équipe, de communication efficace et d'adaptation aux situations changeantes. Ces compétences ont été transférées avec succès dans mon travail professionnel, me permettant de m'adapter rapidement à de nouveaux projets et de collaborer efficacement avec des équipes multidisciplinaires.
								</p>
                            <a class="btn mt_20" style="padding: 6px 25px;" href="assets/documents/cv_hayari.pdf" target="_blank"><p style="padding: 0 5px; display:inline;color: #fff; font-weight: 900; vertical-align: super;">voir mon cv </p><i class="fa fa-file-pdf-o colorpdf" style="font-size:30px;" aria-hidden="true"></i></a>
							<a class="btn mt_20" style="padding: 6px 25px;" href="assets/documents/thesis.pdf" target="_blank"><p style="padding: 0 5px; display:inline;color: #fff; font-weight: 900; vertical-align: super;">Extrait du rapport de thèse </p><i class="fa fa-file-pdf-o colorpdf" style="font-size:30px;" aria-hidden="true"></i></a>
							<a class="btn mt_20" style="padding: 6px 25px;" href="https://www.linkedin.com/in/hayari/" target="_blank"><p style="padding: 0 5px; display:inline;color: #fff; font-weight: 900; vertical-align: super;">Voir mon LinkedIn </p><i class="fab fa-linkedin colorstandard" style="font-size:30px;" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <div class="about_picture">
                            <img src="./assets/images/agile.jpg" alt="Nour">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /End About -->