
		
        <!-- Start Work Experience -->
        <section id="experiences" class="section experience section_padding back_color2">
            <div class="container">
                <!--<h2 class="color1"><span class="span_color">Mes</span> Expériences</h2>-->
				<div class="ribbon">Mes Expériences</div>
                <ul class="back_color1">
                    <li class="in-view">
                        <div class="backdiv">
                            <h3 class="color1">Data Ingénieur</h3>
                            <time datetime="2022-01-01">2022-2023</time>
                            <p>IFDIS, Montpellier.<br>
							La mise en place d'un data hub sport permettant de collecter, traiter et analyser des données sportives afin d'identifier les facteurs clés influençant les performances et la sécurité des sportifs. Les objectifs principaux :        - Aider les entraîneurs, les gestionnaires et les sportifs à prendre des décisions éclairées. - Améliorer les performances et la sécurité des sportifs.<br>
							- Collecter des données provenant de diverses sources,<br>
							- telles que les capteurs IoT, les plateformes de sport,<br>
							- Identifier les facteurs clés influençant les performances et la sécurité des sportifs,<br>
							- Prédire les performances et la sécurité des sportifs à l'aide de l'apprentissage automatique.<br>
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : Spring boot , React Js, PostgreSQL, docker, Kubernetes, GitLab (CI/CD), Trello(Agile), AWS (S3), ML(Amazon SageMaker), Selenium IDE (test IHM).
							</p>
                        </div>
                    </li>
                    <li class="in-view">
                        <div class="backdiv">
                            <h3 class="color1">Développeur Senior</h3>
                            <time datetime="2021-01-01">2021</time>
                            <p>General-carpentry, Italie.<br>
							Réalisation d'un projet en autonomie avec développement d'une application web SPA dynamique adaptée aux mobiles.<br>
							- Création des bases de données de l'application,<br>
							- Développements de la partie back-end avec Spring Boot,<br>
							- Développements de la partie front-end avec React JS,<br>
							- Déploiement de l'application.<br>
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : Spring Boot, React JS, HTML5, Bootstrap 4, Jenkins, Git, Jira,  PostgreSQL.
							</p>
                        </div>
                    </li>
					<li class="in-view">
                       <div class="backdiv">
                         <h3 class="color1">Consultant Big Data</h3>
                         <time datetime="2019-04-01">Avril 2019 - Janvier 2020</time>
                         <p>EDF, Colombes.<br>
							Mise en place en place des traitements pour l'ingestion des données dans un Datalake : collecte, transformation, ingestion, suivi, alerting.<br>
							- Extraction des données de facturation depuis oracle et insertion dans Hive,<br>
							- Exportation des données INSEE et préparation des datatables/ dataview en Hive,<br>
							- Transformation de données de différents flux et formats (xml, csv, json) et insertion dans Hive et/ou HBase,<br>
							- Suivi des traitements via une application de monitoring et ElasticSearch,<br>
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : Agile, Spark, Java, Scala, Hive, HBase, zeppelin, ElasticSearch, Kafka, Jenkins, Git, Jira, Cucumber, Python 3, sqoop, Spring Boot , Oracle, Control-M (ordonnanceur).
						</p>
                        </div>
                    </li>
					<li class="in-view">
                        <div class="backdiv">
                            <h3 class="color1">Big Data Ingénieur</h3>
                            <time datetime="2018-04-01"> Avril 2018 - Mars 2019</time>
                            <p>Poclain.<br>
							Système de collecte des données depuis des capteurs installés sur des moteurs.<br>
							- Participation à la mise en place de l'architecture fonctionnelle,<br>
							- Participation à la mise en place de l'architecture physique,<br>
							- Participation à la mise en place de l'architecture technique,<br>
							- Adoption de l'architecture Lambda pour l'ingestion, la transformation et le stockage des données,<br> 
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : MQTT, Kafka Confluent, Spark, ElasticSearch (ELK), Tableau.
							</p>
                        </div>
                    </li>
                    <li class="in-view">
                        <div class="backdiv">
                            <h3 class="color1">Big Data Ingénieur</h3>
                            <time datetime="2017-12-01">Déc 2017 - Mars 2018</time>
                            <p>RADIOACTIV'IT.<br>
							Système de prédiction des datasets provenant de GitHub - Datalake.<br>
							- Construction d'un générateur de commit et de fichiers aléatoires de GitHub,<br>
							- Mise en place d'un moteur de recherche pour les datasets,<br>
							- Mise en place d'un système de recommandation pour les repositories,<br>
							- Machine learning : Prédire qu'un repository serait massivement adopté par les développeurs,<br>
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : Gougle cloud Platefrorm, Google Big Query, cloudera, apache Kafka, MongoDB, ElasticSearch, Neo4j, Docker, Java, Python 3.
							</p>
                        </div>
                    </li>
                    <li class="in-view">
                        <div class="backdiv">
                            <h3 class="color1"> Développeur JAVA/JEE</h3>
                            <time datetime="2016-06-01">Juil 2016 - Nov 2017</time>
                            <p>Altice.<br>
							Portail de prise de commandes et de gestion des interventions en JEE. Au sein de 2 équipes collaborant à distance.<br>
							- Développement d'un nouveau portail pour les chargés de productions.<br>
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : Agile, java 8, Maven 3, Spring Boot, AngularJS, REST, mongodb, Jira, SVN.<br>
							</p>
                        </div>
                    </li>
                    <li class="in-view">
                        <div class="backdiv">
                            <h3 class="color1"> Développeur JAVA/JEE</h3>
                            <time datetime="2015-09-01">Sept 2015 - Juin 2016</time>
                            <p>SFR.<br>
							Un portail de prise de commandes par des ingénieurs commerciaux ciblant les entreprises et grands comptes. Il propose un catalogue exhaustif des offres et des coûts et met à disposition des commerciaux un plan de suivi des commandes. Méthode Agile-SCRUM- dans une équipe de 6 personnes.<br>
							- développement des évolutions en Java/J2ee,<br>
							- TMA,<br>
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : Java, Maven 3, JSF2, primefaces, Jasper 6, ehCache 3, EJB3, Junit4, Axis 1.4, JPA2, Hibernate4, dozer 5.5, Oracle, sqlServer 2005, Mysql 5.6, Eclipse, Apache2.2, Jboss7.
							</p>
                        </div>
                    </li>
                    <li class="in-view">
                       <div class="backdiv">
                          <h3 class="color1">Consultant JAVA/JEE</h3>
                          <time datetime="2015-03-01">Mars 2015 - Juil 2015</time>
                          <p>Speedy Fleet.<br>
							Application Web en Jee & angularJS destinée aux clients  de Speedy (particuliers et/ou entreprises), leur permettant la gestion des utilisateurs, des véhicules et des différentes demandes liées aux réparations et maintenances des véhicules.<br>
							- Correction des bugs "amélioration des batchs de synchronisation entre les bases de données mysql et Hyper files c/s (intermédiaire avec AS400),<br> 
							- Stabilisation de l'application,<br>
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : Java, AngularJS, REST, debian, windows Hyper files c/s, Mysql5, tomcat, Hibernate4.<br>
						  </p>
                        </div>
                    </li>
                    <li class="in-view">
                       <div class="backdiv">
                          <h3 class="color1">Ing. étude et développement JAVA/JEE</h3>
                          <time datetime="2013-06-01">Juin 2013 - Fév 2015</time>
                           <p>SFR.<br>
							Intervenant sur plusieurs projets : Sigma, Vegas, Autorepair, Prediag :<br>
							- Sigma : application web de diagnostic à distance des modems sfr, destinée aux conseillers sfr.<br>
							- Vegas : applications web de gestion des demandes clients destinée aussi aux conseillers sfr.<br>
							- Prediag : web service consommé par plusieurs applications internes.<br>
							- AutoRepair : api mobile qui est une adaptation de l'application sigma aux mobiles.<br>
							- Chiffrage et rédaction des STD et développement des évolutions en Java/Jee pour les 4 projets,<br>
							- Installation des serveurs Tomcat,<br>
							- Correction des anomalies et des bugs des différentes applications et des batches associés,<br>
							- Réalisation de Scripts Shell et SQL pour la mise en production des 4 applications,<br>
							- Mise en production des projets avec astreintes.<br>
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : Maven 3, Spring, Hibernate, JPA, Oracle, SOAP,  Eclipse, Apache2.2, Tomcat, Solaris.
							</p>
                        </div>
                    </li>
                    <li class="in-view">
                        <div class="backdiv">
                            <h3 class="color1">Développeur .NET c#</h3>
                            <time datetime="2012-10-01">Oct 2012 - Mai 2013</time>
                            <p> Total.<br>
                            Application web "Delphes" pour la gestion des pouvoirs et  et de leur délégation au sein du holding Total avec ses filiales.<br>
                            - Analyse et chiffrage des évolutions,<br>
	                    	- Conception d'algorithmes d'optimisation pour la délégation des pouvoirs,<br>
	                    	- Amélioration des interfaces graphiques avec Internationalisation,<br>
	                    	- Réalisation de scripts pour les bases de données Oracle,<br>
	                    	- Migration du serveur IIS 6 vers le serveur 7.5,<br>
	                    	- Livraison sur les différentes plateformes : recettes, préproduction et production,<br>
	                    	- Assistance aux utilisateurs du système.<br>
                           <i class="fa-solid fa-screwdriver-wrench color1"></i> : ASP, C#, Framework 3.5, Nhibernate, Windows server (2003 avec IIS 6 & 2008 avec IIS 7.5), AjaxUploader (outils de chargement de fichiers).
							</p>
                        </div>
                    </li>
                   <li class="in-view">
                      <div class="backdiv">
                         <h3 class="color1">Ingénieur étude & développement</h3>
                         <time datetime="2008-02-01">Fév 2008 - Juin 2012</time>
                         <p>Enerdis.<br>
                          Logiciel E-online de gestion des énergies et de supervision à distance de points de comptage. L'objectif est l'optimisation des énergies consommées, s'inscrivant dans une démarche de respect de l'environnement.<br>
                          - Migration vers de nouvelles versions de la technologie java/j2ee,<br>
                          - Gestion de la communication entre la couche web et les  points de comptages via le protocole XML-RPC,<br>
                          - Évolution de la partie web avec Ajax,<br>
                          - Migration  et optimisation de la base de données Mysql,<br>
                          - Intégration des représentations graphiques via des librairies basées sur flash.<br>
                         <i class="fa-solid fa-screwdriver-wrench color1"></i> : Eclipse, Hibernate 3, Struts 1.2, Ajax, JSTL, Tomcat 6, Log4j, Mysql, Oracle9i, SVN, Vmware, Open Flash Chart, JSON.
					   </p>
                      </div>
                 </li>
                 <li class="in-view">
                     <div class="backdiv">
                       <h3 class="color1">Ingénieur recherche opérationnelle</h3>
                       <time datetime="2007-06-01">Juin 2007 - Oct 2007</time>
                       <p>Impact-Web.<br>
					    Optimisation d'un logiciel d'aide au dessin et à la conception en ligne de terrasses en bois.<br>
					    - Modélisation mathématiques d'un problème de découpe de bois,<br>
					    - Implémentation d'un modèle mathématique d'optimisation, permettant un gain de plus de 10%.<br>
					    <i class="fa-solid fa-screwdriver-wrench color1"></i>: Java, Netbeans, optimisation linéaire.
					   </p>
                       </div>
                    </li>
					<li class="in-view">
                      <div class="backdiv">
                        <h3 class="color1">Enseignant-Chercheur A.T.E.R</h3>
                        <time datetime="2999-01-01">Sept 2002 - Août 2004</time>
                        <p>UTBM.<br>
						Chargé des travaux pratiques en c/c++, Java, gestion de projet (méthode PERT).<br>
						- Propositions de projets d'optimisation et d'ordonnancement aux élèves ingénieurs,<br>
						- Encadrement  des élèves ingénieurs,<br>
						- Participation en tant que membre du jury lors de l'évaluation des soutenances.<br>
						<i class="fa-solid fa-screwdriver-wrench color1"></i> : Java, C/C++, Pert.
						</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>