        <!-- Start Skills -->
        <section id="skills" class="section skills section_padding back_color1">
            <div class="container">
                <!--<h2 class="color1"><span class="span_color">Mes</span> Compétences</h2>-->
				<div class="ribbon">Mes Compétences</div>
                <div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item backdiv">
                            <i class="fa-solid fa-route color1"></i>
                            <h3 class="color1">Gestion de Projet</h3>
                            <p class="line_height28 color1">Ma collaboration vise à vous aider dans la concrétisation de vos idées et à mener à bien vos projets. Mes services couvrent l'ensemble du processus, de la phase d'idéation à la livraison finale, ainsi que le suivi des retours des utilisateurs. Mon objectif est de collaborer étroitement avec vous pour garantir l'atteinte de vos objectifs de manière efficace et réussie.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>				    

					<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item backdiv">
                            <i class="fa fa-code color1" aria-hidden="true"></i>
                            <h3 class="color1">Développement</h3>
                            <p class="line_height28 color1">Avec une expérience substantielle, j'ai acquis une maîtrise approfondie des langages et technologies tels que Java/JEE, Scala, Python, ReactJS, Spark, AngularJS, REST et SOAP. Mon expertise s'étend du développement d'applications à la mise en œuvre de solutions robustes, reflétant une compréhension approfondie et une pratique approfondie de ces langages et frameworks</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
					
					<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item backdiv">
                            <i class="fa-solid fa-cloud color1" aria-hidden="true"></i>
                            <h3 class="color1">Cloud &amp; Big Data</h3>
                            <p class="line_height28 color1">Avec une certification en tant qu'ingénieur de données sur Microsoft Azure et une expérience significative dans le domaine du Big Data, j'ai démontré mes compétences en travaillant sur des plateformes telles que Hadoop, notamment avec Hortonworks et MapR. Ma connaissance approfondie s'étend également à AWS et GCP, illustrant ainsi ma polyvalence dans le domaine des technologies cloud et du traitement de données massives.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>

					<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item backdiv">
                            <i class="fa-solid fa-database color1" aria-hidden="true"></i>
                            <h3 class="color1">Bases SQL</h3>
                            <p class="line_height28 color1">Compétent en bases de données SQL telles qu'Oracle, MySQL, SQL Server et PostgreSQL, j'ai appliqué ces compétences dans divers projets. Ces systèmes, avec leur structure tabulaire, offrent une gestion efficace des données, une intégrité relationnelle, et sont idéaux pour des applications nécessitant une modélisation structurée et des relations définies.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">

					
					<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item backdiv">
                            <i class="fa-solid fa-database color1" aria-hidden="true"></i>
                            <h3 class="color1">NoSql moteurs recherche</h3>
                            <p class="line_height28 color1">Familier avec diverses bases de données no sql, dont Hbase, Hive, Cassandra, MongoDB, Neo4j, ElasticSearch, Solr. Ces solutions offrent une flexibilité essentielle pour des applications variées, de la gestion volumineuse de données à la recherche et à l'analyse en temps réel, répondant ainsi aux besoins spécifiques de chaque projet.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
			
						<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item backdiv">
							<i class="fa fa-server color1" aria-hidden="true"></i>
                            <h3 class="color1">Serveurs</h3>
                            <p class="line_height28 color1">Avec une expérience variée dans l'utilisation de différents langages et plates-formes, j'ai travaillé avec des serveurs web et d'applications tels que Tomcat, JBoss, GlassFish, ainsi que sur les environnements Windows Server IIS. Ces serveurs jouent un rôle essentiel dans le déploiement, la gestion et l'optimisation des applications, garantissant ainsi leur bon fonctionnement et leurs performances.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
					

					<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item backdiv">
                             <!--<i class="fa fa-code-branch color1" aria-hidden="true"></i>-->
							  <i class="fa-brands fa-git-alt color1" aria-hidden="true"></i>
                            <h3 class="color1">Intégration, packaging</h3>
                            <p class="line_height28 color1">Avec une familiarité dans l'intégration, le versioning et le packaging, j'ai eu l'occasion d'utiliser des outils tels que Jenkins, GIT, Ant, Maven, SVN et CVS. Bien que mon expérience soit en développement, j'ai pu explorer ces outils pour soutenir des projets, contribuant modestement à la gestion des versions et à l'intégration continue</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

				<div class="ribbon">Mes Outils</div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item backdiv">
                            <h3 class="color1">Langage & Protocole</h3>
                            <p class="line_height28 color1">Java/JEE, Scala, Python, C#, JavaScript, REST, SOAP, HTML5, Bootstrap, Angular, ReactJS, JSON, SQL, MQTT.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>

					<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item backdiv">
                            <h3 class="color1">Bases de Données</h3>
                            <p class="line_height28 color1"> Oracle, MySQL, SQL Server, PostgreSQL, Hbase, Hive, MongoDB, ElasticSearch, Solr, Cassandra, Neo4j,</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item backdiv">
                            <h3 class="color1">Test &amp; Intégration</h3>
                            <p class="line_height28 color1">GitLab CI/CD, Jenkins, JUnit, GIT, Maven, JIRA, Trello, Cucumber, Selenium IDE, SoapUI, Ant, SVN, CVS.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item backdiv">
                            <h3 class="color1">Frameworks &amp; IDE </h3>
                            <p class="line_height28 color1">Spring Boot, Hibernate, JSF2, Primefaces, Jasper 6, EJB3, Struts 1.2, Nhibernate, Log4j, Eclipse, Netbeans, Visual Studio.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>                    
					
				<div class="col-xs-12 col-sm-6 col-md-3">
                     <div class="service_item backdiv">
                        <h3 class="color1">Cloud &amp; Big Data</h3>
                        <p class="line_height28 color1">Azure, AWS, Hortonworks, MapR, Hadoop, Spark, Docker, Kubernetes, GCP, Apache Kafka, Kubernetes, Ducker.</p>
                           <div class="progress">
                               <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                   <span>95%</span>
                               </div>
                           </div>
                       </div>
                </div>                    
					
                </div>
            </div>
        </section>
        <!-- /End Skills -->