        <!-- Start Latest Works -->
        <section id="portfolio" class="section works section_padding back_color1">
            <div class="container">
                <!--<h2 class="color1"><span class="span_color">Mon</span> Portfolio</h2>-->
				<div class="ribbon">Mon Portfolio</div>
               <!--  <div class="works_control">
                    <button type="button" class="btn color1" data-filter="all">All</button>
                    <button type="button" class="btn color1" data-filter=".w_design">Design</button>
                    <button type="button" class="btn color1" data-filter=".w_development">Development</button>
                    <button type="button" class="btn color1" data-filter=".w_photography">Photography</button>
                </div> -->
                <div class="works_content" id="MixItUp783676">
                    <div class="row">
					
					<div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="1">
                            <div class="work_item">
                                <img src="assets/images/ifdis.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr/" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/ifdis.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

					<div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="2">
                            <div class="work_item">
                                <img src="assets/images/gcsmall.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://general-carpentry.com/" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/gcsmall.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

					<div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="3">
                            <div class="work_item">
                                <img src="assets/images/totalpouvoir.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/totalpouvoir.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="4">
                            <div class="work_item">
                                <img src="assets/images/sigma.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://assistance.sfr.fr/internet-tel-fixe/tel-fixe/utiliser-outil-diagnostic-telephonie-box.html#Z7V0" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/sigma.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

					<div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="5">
                            <div class="work_item">
                                <img src="assets/images/sigma_diagnostic.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://assistance.sfr.fr/internet-tel-fixe/tel-fixe/utiliser-outil-diagnostic-telephonie-box.html#Z7V0" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/sigma_diagnostic.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
						
					<div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="6">
                            <div class="work_item">
                                <img src="assets/images/stargatef.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://stargate.sfr.fr/#/login" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/stargatef.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
					
    				<div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="7">
                            <div class="work_item">
                                <img src="assets/images/speedyfleet.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://my.speedyfleet.fr/" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/speedyfleet.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
						
					<div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="8">
                            <div class="work_item">
                                <img src="assets/images/eonlinelogfus.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://www.chauvin-arnoux-energy.com/sites/default/files/documents/ip_f_eonline_rf_04_2012.pdf" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/eonlinelogfus.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

					<div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="9">
                            <div class="work_item">
                                <img src="assets/images/opt.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/opt.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>	
				 

				   <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="10">
                            <div class="work_item">
                                <img src="assets/images/homer2.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/homer2.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>					 
						
	      		   <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="11">
                            <div class="work_item">
                                <img src="assets/images/homer1.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/homer1.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

						
                   <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="12">
                            <div class="work_item">
                                <img src="assets/images/gcbig.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://general-carpentry.com/" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/gcbig.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>						
						
                   <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="13">
                            <div class="work_item">
                                <img src="assets/images/dessin.jpg" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/dessin.jpg" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                     </div>
						
				   <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="14">
				   <div class="work_item">
                                <img src="assets/images/dessin1.jpg" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/dessin1.jpg" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
					</div>
					   
				  <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="15">
                            <div class="work_item">
                                <img src="assets/images/elognbg400.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/elognbg400.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
						
				  <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="16">
                            <div class="work_item">
                                <img src="assets/images/maprstat.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/maprstat.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
						
				  <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="17">
                            <div class="work_item">
                                <img src="assets/images/tald2.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/tald2.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
						
				  <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="18">
                            <div class="work_item">
                                <img src="assets/images/tald3.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/tald3.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                   </div>
                </div>
            </div>
        </section>