<section id="partners">
    <div class="container">
    <div class="ribbon">Entreprises fréquentées</div> 
  
    <div class="partners-container">
        <img class="partner-logo" src="./assets/images/totalt.jpg"alt="totalt">
        <img class="partner-logo" src="./assets/images/edf.png" alt="edf">
        <img class="partner-logo" src="./assets/images/speedy.png" alt="speedy">
        <img class="partner-logo" src="./assets/images/altice.png" alt="altice">
    </div> 
  
    <div class="partners-container">
        <img class="partner-logo" src="./assets/images/sfr.png" alt="sfr">
        <img class="partner-logo" src="./assets/images/ifdis.webp" alt="ifdis">
        <img class="partner-logo" src="./assets/images/enerdis.png" alt="enerdis">
        <img class="partner-logo" src="./assets/images/utbm.png" alt="utbm">
    </div> 
  
    <div class="partners-container">
        <img class="partner-logo"  src="./assets/images/poclain.png" alt="poclain">
        <img class="partner-logo" src="./assets/images/impactwebt.png" alt="impactwebt">
        <img class="partner-logo" src="./assets/images/speedyf.png" alt="speedyf">
        <img class="partner-logo" src="./assets/images/gcn.png" alt="gcn">
      </div>

      <div class="partners-container">
        <img class="partner-logo"  src="./assets/images/enerdis.jpeg" alt="enrdis">
        <img class="partner-logo" src="./assets/images/Completel.png" alt="Completel">
        <img class="partner-logo" src="./assets/images/soprasteria.png" alt="soprasteria">
        <!--<img class="partner-logo" src="./assets/images/jems.png" alt="jems">-->
      </div>


</div>
</section>


<!--<section id="partners">
    <div class="container">
    <div class="ribbon">Entreprises fréquentées</div> 
  
  <div class="partner">
    <div class="rebondp">
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/totalt.jpg"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/edf.png"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/speedy.png"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/altice.png"></span>
 
    </div>

    <div class="rebondp">
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/sfr.png"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/ifdis.webp"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/enerdis.png"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/utbm.png"></span>
     </div>
 
     <div class="rebondp">
         <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/poclaint.png"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/impactwebt.png"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/speedyf.png"></span>
        <span class="itemp"><img class="box partner-logo float--left" src="./assets/images/gcn.png"></span>
    </div>
</div>

</div>
</section>
-->