	        <!--  Preloader  -->
          <div class="preloader"><div class="spinner"></div></div>
          <!--  ToTop  -->
        <div class="to_top btn-bd-primary" id="to_top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="assets/images/nour.png" alt="Hayari" width="40" height="40" class="rounded-circle"></a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" data-link="#home">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#about" data-link="#about">À Propos</a></li>
			<li class="nav-item"><a class="nav-link" href="#skills" data-link="#skills">Compétences</a></li>
			<li class="nav-item"><a class="nav-link" href="#certificates" data-link="#certificates">Certificats</a></li>
			<li class="nav-item"><a class="nav-link" href="#academic" data-link="#academic">Formations</a></li>
			<li class="nav-item"><a class="nav-link" href="#experiences" data-link="#experiences">Expériences</a></li>
			<li class="nav-item"><a class="nav-link" href="#portfolio" data-link="#portfolio">Portfolio</a></li>

			<li class="nav-item"><a class="nav-link" href="#contact" data-link="#contact">Contact</a></li>

          </ul>

        </div>
      </div>
    </nav>
    


  <!-- Start Home -->

        <header id="home" class="section back_color2">
            <div class="background"></div>
			    <div class="wave bg">
            <h1><span>Data ingénieur</span></h1>
            <div class="nhay-wrapper">
                <div class="noisenour" data-noisenour="Développeur Expérimenté">Développeur Expérimenté</div>
             </div>

            <div class="waviy">
                <span style="--i:1;">N</span><span style="--i:2;">O</span><span style="--i:3;">u</span><span style="--i:4;">r</span>
                <span style="--i:5;">e</span><span style="--i:6;">d</span><span style="--i:7;">d</span><span style="--i:8;">i</span>
                <span style="--i:9;">n</span><span style="--i:10;">e</span><span style="--i:11;">&nbsp;</span><span style="--i:12;">H</span>
                <span style="--i:13;">a</span><span style="--i:14;">y</span><span style="--i:15;">a</span><span style="--i:16;">r</span>
                <span style="--i:17;">i</span>
            </div>
    </div>
            <!--
			<div class="header_content"
                <h1 class="myname">Noureddine Hayari</h1>
                <div id="typed-strings">
                    <p>Data Ingénieur <i class="fa fa-database" aria-hidden="true"></i></p>
                    <p>Développeur Expérimenté <i class="fa fa-code " aria-hidden="true"></i></p>
                    <p>Développeur Polyvalent <i class="fa-solid fa-code-branch"></i></p> 
                </div>
                <p><span class="span_color">Je suis </span><span id="typed"></span></p>
                <a href="#" class="btn contactme">Contact Me</a>
            </div>
			-->
            <button type="button" class="to_down"><i class="glyphicon glyphicon-menu-down" aria-hidden="true"></i></button>
        </header>
        <!-- End Home -->
 

        <!-- Start About -->
        <section id="about" class="section about_us section_padding back_color2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-7">
                        <div class="about_paragraph">
                            <!--<h2 class="color1"><span class="span_color">À</span> Propos</h2>-->
							<div class="ribbon">À Propos</div>
                            <p class="line_height28 font_size16 justifytexte">
								Je m'appelle Noureddine Hayari, je suis Data Engineer et développeur expérimenté avec plus de 9 ans d'expérience dans le développement et plus de 5 ans dans le domaine des données. J'ai participé activement à des projets de collecte, traitement et analyse des données, contribuant également à des sujets de recherche opérationnelle et d'optimisation. 
En tant que professionnel polyvalent, j'ai travaillé sur une variété de projets et de technologies, apportant des solutions concrètes à des problèmes complexes.
Pendant mes 9 années de développement, j'ai pris part à des missions variées, telles que la gestion des droits utilisateurs chez TOTAL, la gestion des commandes chez SFR,  la gestion des flottes chez SPEEDY, préparation des données de facturation et d'énergie pour une consultation aisée par les data scientists et autres utilisateurs chez EDF.
Mon expertise s'étend à l'architecture technique, la conception, les tests et le déploiement.
En plus de ma carrière professionnelle, mon expérience en tant que footballeur m'a enseigné des compétences inestimables en matière de travail d'équipe, de communication efficace et d'adaptation aux situations changeantes. Ces compétences ont été transférées avec succès dans mon travail professionnel, me permettant de m'adapter rapidement à de nouveaux projets et de collaborer efficacement avec des équipes multidisciplinaires.
								</p>
                            <a class="btn mt_20" style="padding: 6px 25px;" href="assets/documents/cv_hayari.pdf" target="_blank"><p style="padding: 0 5px; display:inline;color: #fff; font-weight: 900; vertical-align: super;">voir mon cv </p><i class="fa fa-file-pdf-o colorpdf" style="font-size:30px;" aria-hidden="true"></i></a>
							<a class="btn mt_20" style="padding: 6px 25px;" href="assets/documents/thesis.pdf" target="_blank"><p style="padding: 0 5px; display:inline;color: #fff; font-weight: 900; vertical-align: super;">Extrait du rapport de thèse </p><i class="fa fa-file-pdf-o colorpdf" style="font-size:30px;" aria-hidden="true"></i></a>
							<a class="btn mt_20" style="padding: 6px 25px;" href="https://www.linkedin.com/in/hayari/" target="_blank"><p style="padding: 0 5px; display:inline;color: #fff; font-weight: 900; vertical-align: super;">Voir mon LinkedIn </p><i class="fab fa-linkedin colorstandard" style="font-size:30px;" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <div class="about_picture">
                            <img src="../assets/images/agile.jpg" alt="Nour">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /End About -->
        
        <!-- Start Skills -->
        <section id="skills" class="section skills section_padding back_color1">
            <div class="container">
                <!--<h2 class="color1"><span class="span_color">Mes</span> Compétences</h2>-->
				<div class="ribbon">Mes Compétences</div>
                <div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item back_color2">
                            <i class="fa-solid fa-route color1"></i>
                            <h3 class="color1">Gestion de Projet</h3>
                            <p class="line_height28 color1">Ma collaboration vise à vous aider dans la concrétisation de vos idées et à mener à bien vos projets. Mes services couvrent l'ensemble du processus, de la phase d'idéation à la livraison finale, ainsi que le suivi des retours des utilisateurs. Mon objectif est de collaborer étroitement avec vous pour garantir l'atteinte de vos objectifs de manière efficace et réussie.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>				    

					<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item back_color2">
                            <i class="fa fa-code color1" aria-hidden="true"></i>
                            <h3 class="color1">Développement</h3>
                            <p class="line_height28 color1">Avec une expérience substantielle, j'ai acquis une maîtrise approfondie des langages et technologies tels que Java/JEE, Scala, Python, ReactJS, Spark, AngularJS, REST et SOAP. Mon expertise s'étend du développement d'applications à la mise en œuvre de solutions robustes, reflétant une compréhension approfondie et une pratique approfondie de ces langages et frameworks</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
					
					<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item back_color2">
                            <i class="fa-solid fa-cloud color1" aria-hidden="true"></i>
                            <h3 class="color1">Cloud &amp; Big Data</h3>
                            <p class="line_height28 color1">Avec une certification en tant qu'ingénieur de données sur Microsoft Azure et une expérience significative dans le domaine du Big Data, j'ai démontré mes compétences en travaillant sur des plateformes telles que Hadoop, notamment avec Hortonworks et MapR. Ma connaissance approfondie s'étend également à AWS et GCP, illustrant ainsi ma polyvalence dans le domaine des technologies cloud et du traitement de données massives</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>

					<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item back_color2">
                            <i class="fa-solid fa-database color1" aria-hidden="true"></i>
                            <h3 class="color1">Bases SQL</h3>
                            <p class="line_height28 color1">Compétent en bases de données SQL telles qu'Oracle, MySQL, SQL Server et PostgreSQL, j'ai appliqué ces compétences dans divers projets. Ces systèmes, avec leur structure tabulaire, offrent une gestion efficace des données, une intégrité relationnelle, et sont idéaux pour des applications nécessitant une modélisation structurée et des relations définies.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
					
					<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item back_color2">
                            <i class="fa-solid fa-database color1" aria-hidden="true"></i>
                            <h3 class="color1">NoSql moteurs recherche</h3>
                            <p class="line_height28 color1">Familier avec diverses bases de données no sql, dont Hbase, Hive, Cassandra, MongoDB, Neo4j, ElasticSearch, Solr. Ces solutions offrent une flexibilité essentielle pour des applications variées, de la gestion volumineuse de données à la recherche et à l'analyse en temps réel, répondant ainsi aux besoins spécifiques de chaque projet.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
			
						<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item back_color2">
							<i class="fa fa-server color1" aria-hidden="true"></i>
                            <h3 class="color1">Serveurs</h3>
                            <p class="line_height28 color1">Avec une expérience variée dans l'utilisation de différents langages et plates-formes, j'ai travaillé avec des serveurs web et d'applications tels que Tomcat, JBoss, GlassFish, ainsi que sur les environnements Windows Server IIS. Ces serveurs jouent un rôle essentiel dans le déploiement, la gestion et l'optimisation des applications, garantissant ainsi leur bon fonctionnement et leurs performances.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
					
			
			
	
					

					
					<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item back_color2">
                             <!--<i class="fa fa-code-branch color1" aria-hidden="true"></i>-->
							  <i class="fa-brands fa-git-alt color1" aria-hidden="true"></i>
                            <h3 class="color1">Intégration, packaging</h3>
                            <p class="line_height28 color1">Avec une familiarité dans l'intégration, le versioning et le packaging, j'ai eu l'occasion d'utiliser des outils tels que Jenkins, GIT, Ant, Maven, SVN et CVS. Bien que mon expérience soit en développement, j'ai pu explorer ces outils pour soutenir des projets, contribuant modestement à la gestion des versions et à l'intégration continue</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
				<!--<h2 class="color1" style="margin-top:70px"><span class="span_color">Mes</span> Outils</h2>-->
				<div class="ribbon">Mes Outils</div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item back_color2">
                            
                            <h3 class="color1">Langage & Protocole</h3>
                            <p class="line_height28 color1">Java/JEE, Scala, Python, C#, JavaScript, REST, SOAP, HTML5, Bootstrap, Angular, ReactJS, JSON, SQL, MQTT.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>

					<div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item back_color2">
                            <h3 class="color1">Bases de Données</h3>
                            <p class="line_height28 color1"> Oracle, MySQL, SQL Server, PostgreSQL, Hbase, Hive, MongoDB, ElasticSearch, Solr, Cassandra, Neo4j,</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item back_color2">
                            <h3 class="color1">Test &amp; Intégration</h3>
                            <p class="line_height28 color1">GitLab CI/CD, Jenkins, JUnit, GIT, Maven, JIRA, Trello, Cucumber, Selenium IDE, SoapUI, Ant, SVN, CVS.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="service_item back_color2">
                            <h3 class="color1">Frameworks &amp; IDE </h3>
                            <p class="line_height28 color1">Spring Boot, Hibernate, JSF2, Primefaces, Jasper 6, EJB3, Struts 1.2, Nhibernate, Log4j, Eclipse, Netbeans, Visual Studio.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>                    
					
				<div class="col-xs-12 col-sm-6 col-md-3">
                     <div class="service_item back_color2">
                        <h3 class="color1">Cloud &amp; Big Data</h3>
                        <p class="line_height28 color1">Azure, AWS, Hortonworks, MapR, Hadoop, Spark, Docker, Kubernetes, GCP, Apache Kafka, Kubernetes, Ducker.</p>
                           <div class="progress">
                               <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                   <span>95%</span>
                               </div>
                           </div>
                       </div>
                </div>                    
					
                </div>
            </div>
        </section>
        <!-- /End Skills -->
        
		
		
		
		    <!-- Start certificates -->
        <section id="certificates" class="section skills section_padding back_color1">
            <div class="container">
                <!--<h2 class="color1"><span class="span_color">Mes</span>Certificats</h2>-->
				<div class="ribbon">Mes Certificats</div>
			
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="service_item back_color2">
                            <!--<i class="fa fa-project-diagram color1" aria-hidden="true"></i>-->
							<i class="fa fa-cog fa-spin fa-3x"  aria-hidden="true"></i>
                            <h3 class="color1">DP-203 (2023)</h3>
                            <p class="line_height28 color1">Microsoft Certified DP-203 <br>Azure Data Engineer</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="service_item back_color2">
                            <i class="fa-solid fa-brain fa-fade"></i>
                            <h3 class="color1">AI-900 (2022)</h3>
                            <p class="line_height28 color1">Microsoft Certified AI-900 <br>Azure AI fundamentals</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="service_item back_color2">
                            <!--<i class="fa fa-database fa-flip" aria-hidden="true"></i>-->
							<i class="fa-sharp fa-solid fa-database"></i>
                            <h3 class="color1">DP-900  (2022)</h3>
                            <p class="line_height28 color1">Microsoft Certified DP-900 <br>Azure Data Fundamentals</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /End Certificats -->



     <!-- Start academics -->
        <section id="academic" class="section testimonials section_padding back_color2">
            <div class="container">
                <!--<h2 class="color1"><span class="span_color">Mes</span> Recommandations</h2>-->
				<div class="ribbon">Mes Formations &amp; Diplômes</div>
								
                <div class="row">
				<ul id='timeline'>
  <li class='work'>
    <input class='radio' id='form1' name='works' type='radio' checked>
    <div class="relative">
      <label for='form1'>Développeur .NET / SHAREPOINT</label>
      <label class='date' for='form1'>2012</label>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>Développeur en environnement Microsoft .NET / SHAREPOINT (45 jours)<br>
	  FITEC, Paris
      </p>
    </div>
  </li>
  <li class='work'>
    <input class='radio' id='form2' name='works' type='radio'>
    <div class="relative">
      <label for='form2'>Développeur JAVA/J2EE</label>
      <label class='date' for='form2'>2007</label>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>Développeur JAVA/J2EE (4 mois)<br>
		 Cyberlog, Paris
      </p>
    </div>
  </li>
  
  
  <li class='work'>
    <input class='radio' id='form3' name='works' type='radio'>
    <div class="relative">
      <label for='form3'>Doctorat en Informatique</label>
      <label class='date' for='form3'>2006</label>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>Doctorat en Informatique/mathématiques appliquées :Cartes auto-organisatrices et approche évolutionniste pour les problèmes de tournées de véhicules avec regroupements.<br>
		 UTBM, Belfort
      </p>
    </div>
  </li>
  <li class='work'>
    <input class='radio' id='form4' name='works' type='radio'>
    <div class="relative">
      <label for='form4'>Master Sciences/Mathématiques</label>
      <label class='date' for='form4'>2005</label>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>Master Sciences, mention Mathématiques à finalité professionnelle<br>
		 ULP, Strasbourg
      </p>
    </div>
  </li>
  <li class='work'>
    <input class='radio' id='form5' name='works' type='radio'>
    <div class="relative">
      <label for='form5'>DEA recherche opérationnelle</label>
      <label class='date' for='form5'>2000</label>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>DEA recherche opérationnelle, combinatoire et optimisation<br>
         INPG, Grenoble
      </p>
    </div>
  </li>
</ul>
     </div>
            </div>
        </section>
        <!-- /End Testimonials -->


		
        <!-- Start Work Experience -->
        <section id="experiences" class="section experience section_padding back_color2">
            <div class="container">
                <!--<h2 class="color1"><span class="span_color">Mes</span> Expériences</h2>-->
				<div class="ribbon">Mes Expériences</div>
                <ul class="back_color1">
                    <li class="in-view">
                        <div class="back_color2">
                            <h3 class="color1">Data Ingénieur</h3>
                            <time datetime="2022-01-01">2022-2023</time>
                            <p>IFDIS, Montpellier.<br>
							La mise en place d'un data hub sport permettant de collecter, traiter et analyser des données sportives afin d'identifier les facteurs clés influençant les performances et la sécurité des sportifs. Les objectifs principaux :        - Aider les entraîneurs, les gestionnaires et les sportifs à prendre des décisions éclairées. - Améliorer les performances et la sécurité des sportifs.<br>
							- Collecter des données provenant de diverses sources,<br>
							- telles que les capteurs IoT, les plateformes de sport,<br>
							- Identifier les facteurs clés influençant les performances et la sécurité des sportifs,<br>
							- Prédire les performances et la sécurité des sportifs à l'aide de l'apprentissage automatique.<br>
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : Spring boot , React Js, PostgreSQL, docker, Kubernetes, GitLab (CI/CD), Trello(Agile), AWS (S3), ML(Amazon SageMaker), Selenium IDE (test IHM).
							</p>
                        </div>
                    </li>
                    <li class="in-view">
                        <div class="back_color2">
                            <h3 class="color1">Développeur Senior</h3>
                            <time datetime="2021-01-01">2021</time>
                            <p>General-carpentry, Italie.<br>
							Réalisation d'un projet en autonomie avec développement d'une application web SPA dynamique adaptée aux mobiles.<br>
							- Création des bases de données de l'application,<br>
							- Développements de la partie back-end avec Spring Boot,<br>
							- Développements de la partie front-end avec React JS,<br>
							- Déploiement de l'application.<br>
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : Spring Boot, React JS, HTML5, Bootstrap 4, Jenkins, Git, Jira,  PostgreSQL.
							</p>
                        </div>
                    </li>
					<li class="in-view">
                       <div class="back_color2">
                         <h3 class="color1">Consultant Big Data</h3>
                         <time datetime="2019-04-01">Avril 2019 - Janvier 2020</time>
                         <p>EDF, Colombes.<br>
							Mise en place en place des traitements pour l'ingestion des données dans un Datalake : collecte, transformation, ingestion, suivi, alerting.<br>
							- Extraction des données de facturation depuis oracle et insertion dans Hive,<br>
							- Exportation des données INSEE et préparation des datatables/ dataview en Hive,<br>
							- Transformation de données de différents flux et formats (xml, csv, json) et insertion dans Hive et/ou HBase,<br>
							- Suivi des traitements via une application de monitoring et ElasticSearch,<br>
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : Agile, Spark, Java, Scala, Hive, HBase, zeppelin, ElasticSearch, Kafka, Jenkins, Git, Jira, Cucumber, Python 3, sqoop, Spring Boot , Oracle, Control-M (ordonnanceur).
						</p>
                        </div>
                    </li>
					<li class="in-view">
                        <div class="back_color2">
                            <h3 class="color1">Big Data Ingénieur</h3>
                            <time datetime="2018-04-01"> Avril 2018 - Mars 2019</time>
                            <p>Poclain.<br>
							Système de collecte des données depuis des capteurs installés sur des moteurs.<br>
							- Participation à la mise en place de l'architecture fonctionnelle,<br>
							- Participation à la mise en place de l'architecture physique,<br>
							- Participation à la mise en place de l'architecture technique,<br>
							- Adoption de l'architecture Lambda pour l'ingestion, la transformation et le stockage des données,<br> 
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : MQTT, Kafka Confluent, Spark, ElasticSearch (ELK), Tableau.
							</p>
                        </div>
                    </li>
                    <li class="in-view">
                        <div class="back_color2">
                            <h3 class="color1">Big Data Ingénieur</h3>
                            <time datetime="2017-12-01">Déc 2017 - Mars 2018</time>
                            <p>RADIOACTIV'IT.<br>
							Système de prédiction des datasets provenant de GitHub - Datalake.<br>
							- Construction d'un générateur de commit et de fichiers aléatoires de GitHub,<br>
							- Mise en place d'un moteur de recherche pour les datasets,<br>
							- Mise en place d'un système de recommandation pour les repositories,<br>
							- Machine learning : Prédire qu'un repository serait massivement adopté par les développeurs,<br>
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : Gougle cloud Platefrorm, Google Big Query, cloudera, apache Kafka, MongoDB, ElasticSearch, Neo4j, Docker, Java, Python 3.
							</p>
                        </div>
                    </li>
                    <li class="in-view">
                        <div class="back_color2">
                            <h3 class="color1"> Développeur JAVA/JEE</h3>
                            <time datetime="2016-06-01">Juil 2016 - Nov 2017</time>
                            <p>Altice.<br>
							Portail de prise de commandes et de gestion des interventions en JEE. Au sein de 2 équipes collaborant à distance.<br>
							- Développement d'un nouveau portail pour les chargés de productions.<br>
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : Agile, java 8, Maven 3, Spring Boot, AngularJS, REST, mongodb, Jira, SVN.<br>
							</p>
                        </div>
                    </li>
                    <li class="in-view">
                        <div class="back_color2">
                            <h3 class="color1"> Développeur JAVA/JEE</h3>
                            <time datetime="2015-09-01">Sept 2015 - Juin 2016</time>
                            <p>SFR.<br>
							Un portail de prise de commandes par des ingénieurs commerciaux ciblant les entreprises et grands comptes. Il propose un catalogue exhaustif des offres et des coûts et met à disposition des commerciaux un plan de suivi des commandes. Méthode Agile-SCRUM- dans une équipe de 6 personnes.<br>
							- développement des évolutions en Java/J2ee,<br>
							- TMA,<br>
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : Java, Maven 3, JSF2, primefaces, Jasper 6, ehCache 3, EJB3, Junit4, Axis 1.4, JPA2, Hibernate4, dozer 5.5, Oracle, sqlServer 2005, Mysql 5.6, Eclipse, Apache2.2, Jboss7.
							</p>
                        </div>
                    </li>
                    <li class="in-view">
                       <div class="back_color2">
                          <h3 class="color1">Consultant JAVA/JEE</h3>
                          <time datetime="2015-03-01">Mars 2015 - Juil 2015</time>
                          <p>Speedy Fleet.<br>
							Application Web en Jee & angularJS destinée aux clients  de Speedy (particuliers et/ou entreprises), leur permettant la gestion des utilisateurs, des véhicules et des différentes demandes liées aux réparations et maintenances des véhicules.<br>
							- Correction des bugs "amélioration des batchs de synchronisation entre les bases de données mysql et Hyper files c/s (intermédiaire avec AS400),<br> 
							- Stabilisation de l'application,<br>
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : Java, AngularJS, REST, debian, windows Hyper files c/s, Mysql5, tomcat, Hibernate4.<br>
						  </p>
                        </div>
                    </li>
                    <li class="in-view">
                       <div class="back_color2">
                          <h3 class="color1">Ing. étude et développement JAVA/JEE</h3>
                          <time datetime="2013-06-01">Juin 2013 - Fév 2015</time>
                           <p>SFR.<br>
							Intervenant sur plusieurs projets : Sigma, Vegas, Autorepair, Prediag :<br>
							- Sigma : application web de diagnostic à distance des modems sfr, destinée aux conseillers sfr.<br>
							- Vegas : applications web de gestion des demandes clients destinée aussi aux conseillers sfr.<br>
							- Prediag : web service consommé par plusieurs applications internes.<br>
							- AutoRepair : api mobile qui est une adaptation de l'application sigma aux mobiles.<br>
							- Chiffrage et rédaction des STD et développement des évolutions en Java/Jee pour les 4 projets,<br>
							- Installation des serveurs Tomcat,<br>
							- Correction des anomalies et des bugs des différentes applications et des batches associés,<br>
							- Réalisation de Scripts Shell et SQL pour la mise en production des 4 applications,<br>
							- Mise en production des projets avec astreintes.<br>
							<i class="fa-solid fa-screwdriver-wrench color1"></i> : Maven 3, Spring, Hibernate, JPA, Oracle, SOAP,  Eclipse, Apache2.2, Tomcat, Solaris.
							</p>
                        </div>
                    </li>
                    <li class="in-view">
                        <div class="back_color2">
                            <h3 class="color1">Développeur .NET c#</h3>
                            <time datetime="2012-10-01">Oct 2012 - Mai 2013</time>
                            <p> Total.<br>
                            Application web "Delphes" pour la gestion des pouvoirs et  et de leur délégation au sein du holding Total avec ses filiales.<br>
                            - Analyse et chiffrage des évolutions,<br>
	                    	- Conception d'algorithmes d'optimisation pour la délégation des pouvoirs,<br>
	                    	- Amélioration des interfaces graphiques avec Internationalisation,<br>
	                    	- Réalisation de scripts pour les bases de données Oracle,<br>
	                    	- Migration du serveur IIS 6 vers le serveur 7.5,<br>
	                    	- Livraison sur les différentes plateformes : recettes, préproduction et production,<br>
	                    	- Assistance aux utilisateurs du système.<br>
                           <i class="fa-solid fa-screwdriver-wrench color1"></i> : ASP, C#, Framework 3.5, Nhibernate, Windows server (2003 avec IIS 6 & 2008 avec IIS 7.5), AjaxUploader (outils de chargement de fichiers).
							</p>
                        </div>
                    </li>
                   <li class="in-view">
                      <div class="back_color2">
                         <h3 class="color1">Ingénieur étude & développement</h3>
                         <time datetime="2008-02-01">Fév 2008 - Juin 2012</time>
                         <p>Enerdis.<br>
                          Logiciel E-online de gestion des énergies et de supervision à distance de points de comptage. L'objectif est l'optimisation des énergies consommées, s'inscrivant dans une démarche de respect de l'environnement.<br>
                          - Migration vers de nouvelles versions de la technologie java/j2ee,<br>
                          - Gestion de la communication entre la couche web et les  points de comptages via le protocole XML-RPC,<br>
                          - Évolution de la partie web avec Ajax,<br>
                          - Migration  et optimisation de la base de données Mysql,<br>
                          - Intégration des représentations graphiques via des librairies basées sur flash.<br>
                         <i class="fa-solid fa-screwdriver-wrench color1"></i> : Eclipse, Hibernate 3, Struts 1.2, Ajax, JSTL, Tomcat 6, Log4j, Mysql, Oracle9i, SVN, Vmware, Open Flash Chart, JSON.
					   </p>
                      </div>
                 </li>
                 <li class="in-view">
                     <div class="back_color2">
                       <h3 class="color1">Ingénieur recherche opérationnelle</h3>
                       <time datetime="2007-06-01">Juin 2007 - Oct 2007</time>
                       <p>Impact-Web.<br>
					    Optimisation d'un logiciel d'aide au dessin et à la conception en ligne de terrasses en bois.<br>
					    - Modélisation mathématiques d'un problème de découpe de bois,<br>
					    - Implémentation d'un modèle mathématique d'optimisation, permettant un gain de plus de 10%.<br>
					    <i class="fa-solid fa-screwdriver-wrench color1"></i>: Java, Netbeans, optimisation linéaire.
					   </p>
                       </div>
                    </li>
					<li class="in-view">
                      <div class="back_color2">
                        <h3 class="color1">Enseignant-Chercheur A.T.E.R</h3>
                        <time datetime="2999-01-01">Sept 2002 - Août 2004</time>
                        <p>UTBM.<br>
						Chargé des travaux pratiques en c/c++, Java, gestion de projet (méthode PERT).<br>
						- Propositions de projets d'optimisation et d'ordonnancement aux élèves ingénieurs,<br>
						- Encadrement  des élèves ingénieurs,<br>
						- Participation en tant que membre du jury lors de l'évaluation des soutenances.<br>
						<i class="fa-solid fa-screwdriver-wrench color1"></i> : Java, C/C++, Pert.
						</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- /End Work Experience -->
        
        <!-- Start Latest Works -->
        <section id="portfolio" class="section works section_padding back_color1">
            <div class="container">
                <!--<h2 class="color1"><span class="span_color">Mon</span> Portfolio</h2>-->
				<div class="ribbon">Mon Portfolio</div>
               <!--  <div class="works_control">
                    <button type="button" class="btn color1" data-filter="all">All</button>
                    <button type="button" class="btn color1" data-filter=".w_design">Design</button>
                    <button type="button" class="btn color1" data-filter=".w_development">Development</button>
                    <button type="button" class="btn color1" data-filter=".w_photography">Photography</button>
                </div> -->
                <div class="works_content" id="MixItUp783676">
                    <div class="row">
					
					<div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="1">
                            <div class="work_item">
                                <img src="assets/images/ifdis.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr/" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/ifdis.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

					<div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="2">
                            <div class="work_item">
                                <img src="assets/images/gcsmall.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://general-carpentry.com/" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/gcsmall.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

					<div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="3">
                            <div class="work_item">
                                <img src="assets/images/totalpouvoir.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/totalpouvoir.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="4">
                            <div class="work_item">
                                <img src="assets/images/sigma.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://assistance.sfr.fr/internet-tel-fixe/tel-fixe/utiliser-outil-diagnostic-telephonie-box.html#Z7V0" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/sigma.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

					<div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="5">
                            <div class="work_item">
                                <img src="assets/images/sigma_diagnostic.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://assistance.sfr.fr/internet-tel-fixe/tel-fixe/utiliser-outil-diagnostic-telephonie-box.html#Z7V0" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/sigma_diagnostic.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
						
					<div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="6">
                            <div class="work_item">
                                <img src="assets/images/stargatef.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://stargate.sfr.fr/#/login" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/stargatef.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
					
    				<div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="7">
                            <div class="work_item">
                                <img src="assets/images/speedyfleet.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://my.speedyfleet.fr/" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/speedyfleet.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
						
					<div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="8">
                            <div class="work_item">
                                <img src="assets/images/eonlinelogfus.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://www.chauvin-arnoux-energy.com/sites/default/files/documents/ip_f_eonline_rf_04_2012.pdf" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/eonlinelogfus.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

					<div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="9">
                            <div class="work_item">
                                <img src="assets/images/opt.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/opt.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>	
				 

				   <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="10">
                            <div class="work_item">
                                <img src="assets/images/homer2.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/homer2.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>					 
						
	      		   <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="11">
                            <div class="work_item">
                                <img src="assets/images/homer1.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/homer1.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

						
                   <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="12">
                            <div class="work_item">
                                <img src="assets/images/gcbig.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://general-carpentry.com/" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/gcbig.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>						
						
                   <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="13">
                            <div class="work_item">
                                <img src="assets/images/dessin.jpg" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/dessin.jpg" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                     </div>
						
				   <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="14">
				   <div class="work_item">
                                <img src="assets/images/dessin1.jpg" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/dessin1.jpg" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
					</div>
					   
				  <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="15">
                            <div class="work_item">
                                <img src="assets/images/elognbg400.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/elognbg400.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
						
				  <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="16">
                            <div class="work_item">
                                <img src="assets/images/maprstat.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/maprstat.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
						
				  <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="17">
                            <div class="work_item">
                                <img src="assets/images/tald2.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/tald2.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
						
				  <div class="mix col-xs-12 col-sm-6 col-md-4 w_design w_development" data-order="18">
                            <div class="work_item">
                                <img src="assets/images/tald3.png" alt="portfolio">
                                <div class="item_caption">
                                    <a href="https://hayari.fr" target="_blank">
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                    <a href="assets/images/tald3.png" class="popup">
                                        <i class="fa-solid fa-magnifying-glass-plus" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                   </div>
                </div>
            </div>
        </section>
        <!-- /End Latest Works -->
        
          <!-- Start Contact -->
        <section id="contact" class="section section_padding back_color1">
            <div class="container">
                <!--<h2 class="color1"><span class="span_color">Me</span> Contacter</h2>-->
				<div class="ribbon">Me Contacter</div>
                <div class="contact_me row">
                    <div class="col-xs-12 col-md-4">
                        <address>
                            <div class="contact">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="color1 font_size16"><a href="https://www.google.fr/maps/place/Paris/@48.8588255,2.2646334,12z/data=!3m1!4b1!4m6!3m5!1s0x47e66e1f06e2b70f:0x40b82c3688c9460!8m2!3d48.856614!4d2.3522219!16zL20vMDVxdGo?entry=ttu" target="_blank">Île-de-France</a></span>
                                <!--<p class="color1">Montpellier, France</p>-->
                            </div>
                            <div class="contact">
                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                <span class="color1 font_size16"><a href="https://www.linkedin.com/in/hayari/" target="_blank">Hayari</a></span>
                                <!--<p class="color1"><a href="https://www.linkedin.com/in/hayari/" target="_blank">https://www.linkedin.com/in/hayari/</a></p>-->
                            </div>
                            <div class="contact">
                                <i class="fab fa-github" aria-hidden="true"></i>
                                <span class="color1 font_size16"><a href="https://github.com/hayari-nour" target="_blank">hayari-nour</a></span>
                            </div>
                        </address>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <form class="form-horizontal contact_form" method="post" action="#contact">
							                            <div class="form-group form-group-lg">
                                <div class="col-xs-12">
                                    <input type="text" class="font_size16 form-control" id="inputname" placeholder="Nom" name="name" required="required">
                                </div>
                            </div>
                            <div class="form-group form-group-lg">
                                <div class="col-xs-12">
                                    <input type="email" class="font_size16 form-control" id="inputemail" placeholder="Email" name="email" required="required" autocomplete="email">
                                </div>
                            </div>
                            <div class="form-group form-group-lg">
                                <div class="col-xs-12">
                                    <textarea class="font_size16 form-control" rows="5" id="inputmessage" placeholder="Votre Message" name="message" required="required"></textarea>
                                </div>
                            </div>
                            <div class="form-group form-group-lg">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn font_size16" name="envoye" value="Envoyer">ENVOYER</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>