	        <!--  Preloader  -->
          <!--<div class="preloader"><div class="spinner"></div></div>-->
          <!--  ToTop  -->
        <div class="to_top btn-bd-primary" id="to_top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="assets/images/nour.png" alt="Hayari" width="40" height="40" class="rounded-circle"></a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" data-link="#home">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#about" data-link="#about">À Propos</a></li>
			<li class="nav-item"><a class="nav-link" href="#skills" data-link="#skills">Compétences</a></li>
			<li class="nav-item"><a class="nav-link" href="#certificates" data-link="#certificates">Certificats</a></li>
			<li class="nav-item"><a class="nav-link" href="#academic" data-link="#academic">Formations</a></li>
			<li class="nav-item"><a class="nav-link" href="#experiences" data-link="#experiences">Expériences</a></li>
			<li class="nav-item"><a class="nav-link" href="#portfolio" data-link="#portfolio">Portfolio</a></li>

			<li class="nav-item"><a class="nav-link" href="#contact" data-link="#contact">Contact</a></li>

          </ul>

        </div>
      </div>
    </nav>

    <app-header></app-header>
    <app-about></app-about>
    <app-skills></app-skills>
    <app-certificates></app-certificates>
    <app-training></app-training>
    <app-experiences></app-experiences>
    <app-portfolio></app-portfolio>
    <app-contact></app-contact>
    