
		    <!-- Start certificates -->
            <section id="certificates" class="section skills section_padding back_color1">
                <div class="container">
                    <!--<h2 class="color1"><span class="span_color">Mes</span>Certificats</h2>-->
                    <div class="ribbon">Mes Certificats</div>
                
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="service_item backdiv">
                                <!--<i class="fa fa-project-diagram color1" aria-hidden="true"></i>-->
                                <i class="fa fa-cog fa-spin fa-3x"  aria-hidden="true"></i>
                                <h3 class="color1">DP-203 (2023)</h3>
                                <p class="line_height28 color1">Microsoft Certified DP-203 <br>Azure Data Engineer</p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                        <span>95%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="service_item backdiv">
                                <i class="fa-solid fa-brain fa-fade"></i>
                                <h3 class="color1">AI-900 (2022)</h3>
                                <p class="line_height28 color1">Microsoft Certified AI-900 <br>Azure AI fundamentals</p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                        <span>95%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="service_item backdiv">
                                <!--<i class="fa fa-database fa-flip" aria-hidden="true"></i>-->
                                <i class="fa-sharp fa-solid fa-database"></i>
                                <h3 class="color1">DP-900  (2022)</h3>
                                <p class="line_height28 color1">Microsoft Certified DP-900 <br>Azure Data Fundamentals</p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
                                        <span>95%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /End Certificats -->