     <section id="academic" class="section testimonials section_padding back_color2">
        <div class="container">
            <!--<h2 class="color1"><span class="span_color">Mes</span> Recommandations</h2>-->
            <div class="ribbon">Mes Formations &amp; Diplômes</div>
                            
            <div class="row">
              
              <ul class="timeline">
                <li>
                  <div class="tldate">2012</div>
                </li>
                <li>
                  <div class="tl-circ"></div>
                  <div class="timeline-panel backdiv">
                    <div class="tl-heading">
                      <h4>Développeur .NET / SHAREPOINT</h4>
                      <p><small class="text-muted"><i class="fa-solid fa-location-dot"></i> FITEC, Paris</small></p>
                    </div>
                    <div class="tl-body">
                      <p>Développeur en environnement Microsoft .NET / SHAREPOINT (45 jours).</p>
                    </div>
                  </div>
                </li>
              
                <!-- SECOND ITEM -->
                <li>
                  <div class="tldate">2007</div>
                </li>
                <li class="timeline-inverted">
                  <div class="tl-circ"></div>
                  <div class="timeline-panel backdiv">
                    <div class="tl-heading">
                      <h4>Développeur JAVA/J2EE</h4>
                      <p><small class="text-muted"><i class="fa-solid fa-location-dot"></i> Cyberlog, Paris</small></p>
                    </div>
                    <div class="tl-body">
                      <p>Développeur JAVA/J2EE (4 mois)</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="tldate">2006</div>
                </li>
                <li>
                  <div class="tl-circ"></div>
                  <div class="timeline-panel backdiv">
                    <div class="tl-heading">
                      <h4>Doctorat en Informatique</h4>
                      <p><small class="text-muted"><i class="fa-solid fa-location-dot"></i> UTBM, Belfort</small></p>
                    </div>
                    <div class="tl-body">
                      <p>Doctorat en Informatique/mathématiques appliquées :Cartes auto-organisatrices et approche évolutionniste pour les problèmes de tournées de véhicules avec regroupements.</p>
                    </div>
                  </div>
                </li>
                <!-- Fourth Item -->
                <li>
                  <div class="tldate">2005</div>
                </li>
                <li class="timeline-inverted">
                  <div class="tl-circ"></div>
                  <div class="timeline-panel backdiv">
                    <div class="tl-heading">
                      <h4>Master Sciences/Mathématiques</h4>
                      <p><small class="text-muted"><i class="fa-solid fa-location-dot"></i> ULP, Strasbourg</small></p>
                    </div>
                    <div class="tl-body">
                      <p>Master Sciences, mention Mathématiques à finalité professionnelle.</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="tldate">2000</div>
                </li>
                <li>
                  <div class="tl-circ"></div>
                  <div class="timeline-panel backdiv">
                    <div class="tl-heading">
                      <h4>DEA recherche opérationnelle</h4>
                      <p><small class="text-muted"><i class="fa-solid fa-location-dot"></i> INPG, Grenoble</small></p>
                    </div>
                    <div class="tl-body">
                      <p>DEA recherche opérationnelle, combinatoire et optimisation.</p>
                    </div>
                  </div>
                </li>
                </ul>

              <!--
            <ul id='timeline'>
<li class='work'>
<input class='radio' id='form1' name='works' type='radio' checked>
<div class="relative">
  <label for='form1'>Développeur .NET / SHAREPOINT</label>
  <label class='date' for='form1'>2012</label>
  <span class='circle'></span>
</div>
<div class='content'>
  <p>Développeur en environnement Microsoft .NET / SHAREPOINT (45 jours)<br>
  FITEC, Paris
  </p>
</div>
</li>
<li class='work'>
<input class='radio' id='form2' name='works' type='radio'>
<div class="relative">
  <label for='form2'>Développeur JAVA/J2EE</label>
  <label class='date' for='form2'>2007</label>
  <span class='circle'></span>
</div>
<div class='content'>
  <p>Développeur JAVA/J2EE (4 mois)<br>
     Cyberlog, Paris
  </p>
</div>
</li>


<li class='work'>
<input class='radio' id='form3' name='works' type='radio'>
<div class="relative">
  <label for='form3'>Doctorat en Informatique</label>
  <label class='date' for='form3'>2006</label>
  <span class='circle'></span>
</div>
<div class='content'>
  <p>Doctorat en Informatique/mathématiques appliquées :Cartes auto-organisatrices et approche évolutionniste pour les problèmes de tournées de véhicules avec regroupements.<br>
     UTBM, Belfort
  </p>
</div>
</li>
<li class='work'>
<input class='radio' id='form4' name='works' type='radio'>
<div class="relative">
  <label for='form4'>Master Sciences/Mathématiques</label>
  <label class='date' for='form4'>2005</label>
  <span class='circle'></span>
</div>
<div class='content'>
  <p>Master Sciences, mention Mathématiques à finalité professionnelle<br>
     ULP, Strasbourg
  </p>
</div>
</li>
<li class='work'>
<input class='radio' id='form5' name='works' type='radio'>
<div class="relative">
  <label for='form5'>DEA recherche opérationnelle</label>
  <label class='date' for='form5'>2000</label>
  <span class='circle'></span>
</div>
<div class='content'>
  <p>DEA recherche opérationnelle, combinatoire et optimisation<br>
     INPG, Grenoble
  </p>
</div>
</li>
</ul>
-->
 </div>
        </div>
    </section>
